
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssExemple.css') }}">
    <!-- לקשר את הקובץ html לקןבץ css -->
    <script src= "{{ url_for('static', filename='js/form.js') }}"></script>

    <!-- לקשר את הקובץ html לקןבץ js -->
</head>
<body>
    <h1 class="titel">sign up</h2>
    <p>enter detail please</p>
    <form>
        <label for="fname">First name</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="lucky">password</label><br>
        <input type="password" id="lucky" name="lucky"><br><br>
        <input type="submit" value="Submit">
    </form>
    <h2 class="titel">Contact us</h2>
    <p>contact <form action="" method="get"></form></p>
    <form name="Contact" onsubmit="return validatePhone()">
        <label for="name">name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="phone">Phone Number:</label><br>
        <input type="number" id="phone" name="phone"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>